@keyframes deunderline{
    from{
        width:100%;
        border: 1px solid #fff;
    }
    to{
        width:0%;
        border: 1px solid #fff;
    }
}

@keyframes just_underline{
    from{
        width:0px;
    }
    to{
        width:100%;
    }
}

@keyframes underline{
    from{
        width:0%;
        border: 1px solid #fff;
    }
    to{
        width:100%;
        border: 1px solid #fff;
    }
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
       opacity: 1; 
    }
}

.menu {
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 100px);
}

a.menu__item__logo {
    font-size: 35px;
    color: #fff;
    text-decoration: none;
}

.menu__item__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
    flex-grow: 1;
}

a.menu__item {
    color: #fff;
    text-decoration: none;
    padding: 10px 19px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a.menu__item:hover anim {
    animation: .3s underline ease-in-out;
    width: 100%;
    border: 1px solid #fff;
}

a.menu__item anim {
    animation: .3s deunderline ease-in-out;
    width: 100%;
    border: 1px solid transparent;
}

.content__box__items {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
}

.content__box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content__box__left {
    color: #fff;
    max-width: 398px;
    width: 100%;
}

.content__title {
    font-size: 32px;
}

.content__description {
    font-size: 22px;
}

.content__box__right img {
    width: 100% !important;
    height: auto;
    border-radius: 60px;
}

.content__box__right {
    max-width: 640px;
    width: 100%;
}

.content__box .content__box__items > div {
    display: none;
}

.onappear{
    display: initial !important;
    animation: 1s appear ease-in-out;
}

.onappear-flex{
    display: flex !important;
    animation: 1s appear ease-in-out;
    visibility: visible !important;
}

.onappear-block{
    display: flex !important;
    animation: 1s appear ease-in-out;
}

.content_box__description {
    padding: 10px 50px;
    font-size: 20px;
    color: #fff;
}

.content__box__layers {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
}

img.debian {filter: contrast(0) grayscale(1) brightness(100);}

img.ubuntu {
    filter: grayscale(3.2) contrast(9);
}

img.kali {
    filter: grayscale(1) contrast(0) brightness(100);
}

.content__box__left__layer__top img {
    cursor: pointer;
}

.content__box__left__layer__top img:hover {
    filter: none;
}

.content__box__layers {
    color: #fff;
    text-align: center;
    visibility: hidden;
}

.uline-anim{
    animation: 2s just_underline ease-in-out;
    display: flex !important;
}

.uline {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: visible;
}

.content__box__right__layer__bottom anim{
    display: none;
}

.content__box__left__layer__bottom anim{
    display: none;
}

img.centos {
    filter: grayscale(1) contrast(1.5) brightness(1.5);
}

anim {
    width: 100%;
    border: 1px solid #fff;
}

.content__box__right__layer__top img:hover {filter: none;}

.content_box__description__langs {
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    visibility: hidden;
}

.content_box__description__langs img {
    filter: grayscale(1) brightness(1.5);
}

.content_box__description__langs img:hover {
    filter: none;
}

.content__box__left__layer__top img {
    height: 95px;
    width: auto;
}

.content__box__right__layer__top img {
    height: 100px;
    width: auto;
}

.content__box.ddfg {
    min-height: 100%;
    height: min-content;
}

.content__box__left__layer__center img {
    width: 335px;
    height: auto;
    filter: grayscale(1) brightness(9);
}

.content__box__left__layer__center img:hover {
    filter: none;
    cursor: pointer;
}

.content__box__center__layer__bottom anim {
    display: none;
}

.content__box__my__works {
    padding: 10px 50px;
    display: flex;
    justify-content: space-around;
    height: 320px;
    flex-wrap: wrap;
    background-size: cover;
    visibility: hidden;
}

.content__box__my__works__asset {
    max-width: 550px;
    height: 315px;
    width: 100%;
    margin: 20px 5px;
}

.huty {
    height: 100%;
    width: 100%;
    display: none;
    animation: .3s disappear ease-in-out;
}

.content__box__my__works__asset .imgasset {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.imgasset:hover .huty {
    background: #000000d9;
    display: flex;
    height: calc(100% - 20px);
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    width: calc(100% - 40px);
    color: #fff;
    font-size: 20px;
    animation: .5s appear ease-in-out;
}