@media screen and (max-width: 600px) {
    .content__box__items {
        flex-direction: column;
        justify-content: center;
    }
    .content__box__items div{
        margin:10px 0px;
    }

    .menu {
        padding: 10px 30px;
    }
    
    .menu__item{
        padding: 10px 10px;
    }

    .content__box__left__layer__top img {
        height: initial;
        width: initial;
    }
    
    .content__box__right__layer__top img {
        height: initial;
        width: initial;
    }

    .content__box__layers {
        flex-direction: column;
    }

    .content_box__description__langs {
        flex-wrap: wrap;
    }

    .content__box__layers > div{
        margin:20px 0;
    }

    .content__box__left__layer__center img{
        width: 100%;
    }

    .content__box__my__works__asset{
        height: 250px;
    }
}